<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Call</title>

  <link rel="stylesheet" href="{{url_for('static', filename='css/call.css')}}">
</head>
<body>
  <form action="/" method="POST">
    <div class="div1">
      <div class="input">
        <div class="TF">
          <div class="T">
            <label>To</label>
            <br>
            <input type="text" name="to" value="{{to}}">
          </div>
          <div class="F">
            <label>From</label>
            <br>
            <input type="text" name="fromCompany" value="{{fromCompany}}">
            <br>
            <input type="text" name="fromHuman" value="{{fromHuman}}">
          </div>
        </div>
        <div class="requirement">
          <label>要件</label>
          <br>
          <textarea name="requirement" rows="20" cols="40">{{requirement}}</textarea>
        </div>
      </div>

      <div class="output">
        <label>回答</label>
        <button type="submit" class="button_output" value="update">更新</button>
        <label>不在</label>
        {%- if showButton %}
        <button type="submit" class="button_output" value="update">更新</button>
        {%- else %}
        <button type="submit" class="button_output" disabled>更新</button>
        {%- endif %}
        <br>
        <textarea class="textarea_output" rows="50" cols="100" disabled>{{Kaito}}</textarea>
      </div>
    </div>

    
  </form>
</body>
</html>